html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #000 !important;
    overflow-x: hidden;
}
.p5Canvas {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 0px;
}
/* .main {
    overflow: hidden;
} */
.container {
    background-color: rgba(0,0,0,0);
    margin-top: 100vh;
}
.navbar {
    background-color: rgba(0, 0, 0, 1);
    max-width: 1440px;
    margin: auto auto;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar-left {
    padding: 20px 20px;
}
.navbar-left>span {
    color: #fff;
    font-size: 2.5em;
}


li {
    color: #fff;
    list-style: none;
    text-align: right;
    margin-bottom: 10px;
} 
.nav-link {
    text-decoration: none !important;
    font-size: 20px;
    transition: all 0.2s ease;
}

.nav-link:visited {
    color: #fff !important;
}
.nav-link:active {
    opacity: 0.8;
}
.nav-link:hover {
    text-shadow: 1px 1px #fff;
    color: #fff !important;
}

section {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0);
    margin-bottom: 300px;
}

section p, section h1 {
    color: #fff;
}
.sectionImages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sectionImages>img {
    width: 100px;
    height: auto;
    margin: 10px;
    transition: all 0.3s ease;
}

.sectionImages>img:hover {
    transform: scale(1.2,1.2)
}

.sectionLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sectionLinks>div{
    margin: 10px;
    transition: all 0.3s ease;
}
.sectionLinks>div:hover {
    transform: translateY(-10px)
}
.sectionLinks a {
    color: #fff !important;
    text-decoration: none !important;
    transition: all 0.2s ease;
}

.sectionLinks a:visited {
    color: #fff !important;
}
.sectionLinks a:active {
    opacity: 0.8;
}
.sectionLinks img {
    width: 100px;
    height: auto;
    margin: 10px;
}
hr {
    background-color: #fff;
}

#Contact>div>div{
    display: flex;
}
#Contact>div>div>a{
    margin: 10px;
    font-size: 16px;
}
#Contact {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#Contact>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.heading {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
}
.heading p, .heading h1 {
    color: #f7f7f7;
}

.heading h1 {
    font-size: 46px;
}